<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="questionDao" class="ru.otus.homework.dao.QuestionDaoImpl">
        <constructor-arg index="0" value="/questions.csv"/>
    </bean>

    <bean name="outputService" class="ru.otus.homework.service.OutputServiceStream">
        <constructor-arg index="0" value="#{T(java.lang.System).out}"/>
    </bean>

    <bean name="questionFromSourceConverter" class="ru.otus.homework.service.QuestionFromSourceConverterImpl"/>

    <bean name="questionToStringConverter" class="ru.otus.homework.service.QuestionToStringConverterImpl"/>

    <bean name="questionService" class="ru.otus.homework.service.QuestionServiceImpl">
        <constructor-arg index="0" ref="questionDao"/>
        <constructor-arg index="1" ref="questionFromSourceConverter"/>
        <constructor-arg index="2" ref="questionToStringConverter"/>
        <constructor-arg index="3" ref="outputService"/>
    </bean>
</beans>