<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>List of all books</title>
		<link rel="stylesheet" href="/list-style.css" th:href="@{/list-style.css}">
	</head>
	<body>
		<div class="heading">
			<h1>
				<span>Books</span>
				<a class="action save" href="book-add.html" th:href="@{/book/new}">&#43;</a>
			</h1>
			<form th:action="@{/logout}" method="post" class="logout-form">
				<input type="submit" value="Log out" class="logout-btn"/>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			</form>
		</div>
		<p class="empty" th:if="${books.isEmpty()}">There is no books present. Create one</p>
		<table th:if="${!books.isEmpty()}">
			<thead>
				<tr>
					<th>№</th>
					<th>Name</th>
					<th><a href="../author/author-list.html" th:href="@{/author}">Author</a></th>
					<th><a href="../genre/genre-list.html" th:href="@{/genre}">Genre</a></th>
					<th>Update</th>
					<th>Delete</th>
					<th>Comments</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book, bookStat : ${books}" th:object="${book}">
					<td th:text="${bookStat.count}">0</td>
					<td th:text="*{name}">Book name</td>
					<td th:text="*{authorName}">Author of the book</td>
					<td th:text="*{genreName}">Genre of the book</td>
					<td>
						<a class="action save" href="book-edit.html"
						   th:href="@{/book/update/{id}(id=*{id})}">&#9998;</a>
					</td>
					<td>
						<form action="#" th:action="@{/book/delete/{id}(id=*{id})}"
						      method="post" th:method="post">
							<input class="action delete" type="submit" name="id" value="&#10005;">
						</form>
					</td>
					<td>
						<a class="action comment" href="../comment/comment-list.html"
						   th:href="@{/book/{id}/comment(id=*{id})}">&#128077;</a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>