<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Genre edit page</title>
		<link rel="stylesheet" href="/css/form-style.css" th:href="@{/css/form-style.css}">
	</head>
	<body>
		<h3>Genre Info:</h3>
		<form class="edit-form" method="post" action="/genre/update"
		      th:method="post" th:if="${targetGenre} != null" th:object="${targetGenre}"
		      th:action="@{/genre/update/{id}(id=*{id})}">
			<div class="row">
				<label for="name-input">Name:</label>
				<input id="name-input" type="text" th:field="*{name}" th:value="*{name}"/>
				<span class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
					Wrong genre name
				</span>
			</div>
			<div class="row">
				<input type="submit" value="Submit">
				<a href="genre-list.html" th:href="@{/genre}">
					<button type="button">Cancel</button>
				</a>
			</div>
		</form>
	</body>
</html>